header {
    padding: 1em;
    background: linear-gradient(80deg, #FCE77D 40%, #F96167 60%);
}

nav ul, footer ul {
    list-style-type: none;
}

nav ul {
    position: absolute;
    top: 0;
    right: 10px;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(80deg, #F96167 60%, #FCE77D 60%);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

h4 {
    font-size: 22px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    font-size: 22px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


p{
    font-size: 16px;
    padding-left: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center
  }

.contenedor1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);	
}

.contenedor1 > .contenido {
	grid-column: span 3;
}

.contenido > .article {
	background: #808e9b;
	padding: 20px;
	margin-top: 5px;
	color: #dfe6e9;
}
  
.contenedor1 > .lateral {
	grid-column: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contenedor1 .lateral img {
	max-width: 40%;
    max-height: 40%;
	margin-top: 10px;

}

img {
    max-width: 80%;
    max-height: 20%;
    padding-left: 5%
}

.imagen {
    /* permite que la imagen se acomode al tamaño disponible */
    flex-basis: 80%;
    padding-right: 20px;
}



